html,
body {
   height: 100%;
}

.main {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.content {
   flex-grow: 1;
}

.footer {
   text-align: center;
   color: white;
   background-color: rgba(0, 0, 0, .7);
   padding: 10px;
}

.error {
   color: red;
   font-size: 20px;
}

.navbar-nav li a {
   color: white;
}


.img-post {
   height: 300px;
   object-fit: cover;
   width: 286px;
}

.category-card .card {
   color: black;
   transition: box-shadow .3s linear 0s;
}

.category-card {
   text-decoration: none;
}

.category-card .card:hover {
   box-shadow: 0px 0px 10px #0D6EFD;
}

.img-category {
   height: 150px;
   object-fit: cover;
}

.post-card {
   text-decoration: none;
   color: black;
   transition: all .5s linear 0s;
}

.post-card:hover {
   text-decoration: underline;
   color: black;
}

.buttons form {
   display: inline-block;
}

.test-button {
   background-color: rgba(0, 0, 0, .5);
}

.carousel-post {
   width: 800px;
   height: 500px;
   object-fit: contain;
}

.fixed-size {
   width: 800px;
   height: 500px;
   object-fit: contain;
}

.card-info {
   margin-top: 72px;
}


.price {
   font-size: 20px;
}

.image-row {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
}

.image-container {
   text-align: center;
}

.dropdown-submenu {
   position: relative;
}

/* Скрываем подменю по умолчанию */
.dropdown-submenu .dropdown-menu {
   display: none;
   position: absolute;
   top: 0;
   left: 100%;
   margin-top: 0;
   margin-left: 0.1rem;
}

/* Показываем подменю при наведении */
.dropdown-submenu:hover .dropdown-menu {
   display: block;
}

/* Для того, чтобы подкатегории не закрывались при переходе */
.dropdown-menu {
   position: absolute;
}

/* Стили для кнопки категорий */
.dropdown-item>span {
   cursor: pointer;
}

.description pre {
   max-width: 750px;
   white-space: pre-wrap; 
   word-wrap: break-word;
   overflow-wrap: break-word;
}
